.header-nav{
    display: none;
}

@media (max-width: 768px) {
    .hero-media {
        flex-direction: column; /* Xếp chồng các ảnh trên màn hình nhỏ */
    }

    .hero-media__img {
        width: 90%; /* Mỗi ảnh chiếm 90% chiều rộng trên màn hình nhỏ */
        max-width: none; /* Không giới hạn kích thước tối đa */
        margin: 10px 0; /* Thêm khoảng cách giữa các ảnh */
        margin-top: -25px;
    }
    .hero-media__img:nth-child(2){
        display: none;
    }

    .footer-column{
        padding-left: 0;
    }
}

@media (max-width: 991.98px){

    .header-mobile__item{
        width: 30px;
        margin-top: 5px;
    }

    .header-mobile__item:nth-child(1){
        margin-top: 0;
    }
    .hero-ctn__title, .hero-ctn__desc{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-ctn-func{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-ctn-social, .hero-media{
        justify-content: center;
    }

    .work-box__title{
        text-align: center;
    }

    .work-box__desc{
        display: none;
    }

    .footer-box{
        flex-direction: column;
    }

    .footer-column__title{
        margin: 15px 0;
    }

    .contactus-cta{
        margin: 60px 0px;
    }

}

@media (min-width: 992px) {
    .header-mobile{
        display: none;
    }

    .header-nav{
        display: block;
    }

    .hero-ctn__title{
        max-width: 500px;
    }
    
    .hero-ctn__desc{
        max-width: 370px;
    }
    
}

